# Virtual environment
pm_prediction/
venv/
env/

# Ignore model weights
models/mobilenet_v2_aqi.pth
models/resnet18_aqi.pth
models/*.pt
models/*.pkl
models/*.joblib

# But keep the folder itself
!models/.gitkeep

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store