# Virtual environment
pm_prediction/
venv/
env/

# Ignore model weights
models/*.pth
models/*.pt
models/*.pkl
models/*.joblib
models/*.save

# But keep the folder itself
!models/.gitkeep

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store