
numpy




# Machine Learning
scikit-learn


# Image processing
Pillow


# Deep learning (optional)

torch
torchvision


# FastAPI & API tools
fastapi
uvicorn
python-multipart

# Email verification
fastapi-mail

# Password hashing
passlib[bcrypt]


joblib
python-multipart